<div th:fragment="place (name)">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Здесь должно быть фото" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Здесь должно быть фото, но не получилося</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="10%" y="50%" fill="#eceeef" dy=".3em">Здесь должно быть фото, но не получилося</text>
            </svg>
            <div class="card-body">
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary" th:text="${name}"></small>
                </div>
            </div>
        </div>
</div>